*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
}

body {
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
}

.myform {
    width: 35rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.form-group {
    text-align: center;
    width: 30rem;
}
.project_description {
    text-align: center;
    width: 40rem;
}

.myform .btn {
  color: white;
  background-color: #0d6efd;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 50px;
  font-size: inherit;
  border: 0;
  width: 100%;
  transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0e52b7;
}
.copyright {
    color: #6c757d;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #ced4da;
    margin-bottom: 1rem;
    padding: 1.5rem;
    padding-right: 0;
    border-radius: 5px;
    transition: border-color 0.5s, box-shadow 0.5s;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 5px #b9d3fa;
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
    outline: none;
    width: 100%;
}
a {
    text-decoration: none;
}
.form-group a {
    color: black;
    text-decoration: underline;
    transition: color 0.3s;
}
.form-group a:hover {
    color: #0e52b7;
}

/*  */
.P-owner {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.6rem;
}
.Project-collaborators {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.6rem;
}
.card {
    background-color: white;
    padding: 1rem;
    margin: 2rem 8rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.P-Title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
.status {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: end;
    color: green;
}
.Description {
    font-size: 1.8rem;
    max-height: calc(2 * 1em * 1.4);
    line-height: 1.4;
    margin-left: 1rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.8rem;
}
.Description::before {
    content: "";
    position: absolute;
    height: calc(1em * 1.4);
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}
.card-footer {
    margin-top: 1rem;
}
.homebtn {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1.8rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
    width: auto;
}
.homebtn:hover,
.homebtn:focus {
    background: hsl(200, 50%, 60%);
}
.homebtn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}
.homebtn.btn-outline:hover,
.homebtn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
}
.homebtn+.homebtn {
    margin-left: 0.25rem;
}

/*  */
.alert {
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-dismissable {
    position: relative;
    padding-right: 3rem;
}
.alert-dismissable .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-bottom: 0.5rem;
    color: inherit;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.show {
    opacity: 1;
}
.close {
    width: auto;
    background-color: inherit;
    border: none;
    height: 100%;
    font-size: 2rem;
    overflow: hidden;
    align-items: center;
    padding-bottom: 20%;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/*Nav bar styling starts here*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100%;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a.logo {
    font-weight: bold;
    font-size: 24px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin: 0 10px;
}
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    .menu-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }
    
    .menu-toggle:hover+ul,
    nav ul:hover {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }
    
    .menu-toggle:hover+ul {
        margin-top: 0;
    }
    
    nav li {
        margin: 10px 0;
    }
}

/**/
.title_Detail {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}
.status_Detail {
    text-align: end;
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
    margin-right: 7rem;
}
.leaders_Detail {
    margin-left: 2rem;
    font-size: 1.4rem;
    margin-bottom: 0.7em;
}
.teams_Detail {
    margin-left: 2rem;
    font-size: 1.4rem;
    margin-bottom: 0.7em;
}
.just_Details {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.4em;
}
.description_Detail {
    margin-left: 2rem;
    margin-right: 9rem;
    font-size: 1.5rem;
    margin-bottom: 0.7em;
}
.just_History_Detail {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.4em;
}
.history_Detail li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.4rem;
    margin-bottom: 0.9rem;
}
.started_date_Detail {
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.4em;
}

/* Add project page */
.project_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 4rem;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}
.project_form h1 {
    text-align: left;
    font-size: 2.9rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.project_form .form-group {
    width: 25%;
    margin-bottom: 20px;
}
.project_form .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.project_form .form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.project_form .project_description textarea {
    height: 150px;
    min-height: 100px;
    resize: none;
    overflow: auto;
    font-size: 1.6rem;
}
.project_form .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #0b9c19;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.project_form .btn:hover {
    background-color: #0d991b;
    cursor: pointer;
}
.leader_btn {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.add_leader_btn:hover {
    background-color: #2f2d22;
}
.remove_leader_btn {
    background-color: #ff0000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}
.project_leader_inputs .remove_leader_btn {
    display: none;
}
.project_leader_inputs:hover .remove_leader_btn {
    background-color: #ff5555;
    display: block;
}

.hidden {
    display: none;
}