{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block main %}

<form action="/add_project" method="post" class="myform">
  <h1>Create your project</h1>

  <div class="mb-3 form-group">
    <input
      autofocus
      autocomplete="off"
      class="form-control mx-auto w-auto"
      type="text"
      minlength="5"
      maxlength="255"
      name="title"
      placeholder="project title"
    />
  </div>

  <div class="mb-3 form-group">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      type="text"
      minlength="5"
      maxlength="255"
      name="leader"
      placeholder="project leader"
    />
  </div>

  <div class="mb-3 project_description">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      type="text"
      minlength="5"
      maxlength="500"
      name="description"
      placeholder="project description"
    />
  </div>

  <div class="mb-3 form-group">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>

{% endblock %}
{% set active = 'add_project' %}