{% extends "base.html" %}
 
{% block title %}
    Home 
{% endblock %}

{% block main %}

<div class="card-grid">
  <div class="card">
    <div class="title-grid">
      <div class="P-Title">P-Title</div>
      <div class="status">status: New</div>
    </div>
    <div class="P-owner">Project owners: Yonas, Abel, ...</div>
    <div class="Project-collaborators">
      Project collaborators: Naol, Wael, ...
    </div>
    <div class="Description">
      alskdjfalkdsfalksdjfalksdfjlksajlksadjflkasdjflksadjflksadjklalkdjfaslkdfaldkjfalksdjf
    </div>
    <div class="card-footer">
      <button class="btn">Details</button>
      <button class="btn btn-outline">Join</button>
    </div>
  </div>
  <div class="card">
    <div class="title-grid">
      <div class="P-Title">P-Title</div>
      <div class="status">status: New</div>
    </div>
    <div class="P-owner">Project owners: Yonas, Abel, ...</div>
    <div class="Project-colablators">
      Project collaborators: Naol, Wael, ...
    </div>
    <div class="Description">
      alskdjfalkdsfalksdjfalksdfjlksajlksadjflkasdjflksadjflksadjklalkdjfaslkdfaldkjfalksdjf
    </div>
    <div class="card-footer">
      <button class="homebtn">Details</button>
      <button class="homebtn btn-outline">Join</button>
    </div>
  </div>
</div>
{% endblock %}
