{% extends "base.html" %}
 
{% block title %}
    Home 
{% endblock %}

{% block main %}

<div class="card-grid">   
  <div class="card">
    <div class="title-grid">
        <div class="P-Title">P-Title</div>
        <div class="status">status: New</div>
    </div>
        <div class="P-owner">
        Project oweners: Yonas, Abel ...
    </div>
    <div class="Project-collaborators">
        Project colablators: Naol, Wael ...
    </div>
    <div class="Description">
        One of the main benefits of mindfulness is that it can improve mental health. Research has shown that mindfulness-based interventions can be effective in reducing symptoms of anxiety and depression, and can even be as effective as traditional forms of therapy. Additionally, practicing mindfulness can lead to increased self-awareness, emotional regulation, and a greater sense of well-being.
    </div>
    <div class="card-footer">
        <button class="homebtn">Details</button>
        <button class="homebtn btn-outline">Join</button>
    </div>
  </div>
  <div class="card">
    <div class="title-grid">
        <div class="P-Title">P-Title</div>
        <div class="status">status: New</div>
    </div>
    <div class="P-owner">
        Project oweners: Yonas, Abel ...
    </div>
    <div class="Project-collaborators">
        Project colablators: Naol, Wael ...
    </div>
    <div class="Description">
        One of the main benefits of mindfulness is that it can improve mental health. Research has shown that mindfulness-based interventions can be effective in reducing symptoms of anxiety and depression, and can even be as effective as traditional forms of therapy. Additionally, practicing mindfulness can lead to increased self-awareness, emotional regulation, and a greater sense of well-being.
    </div>
    <div class="card-footer">
        <button class="homebtn">Details</button>
        <button class="homebtn btn-outline">Join</button>
    </div>
  </div>
</div>
{% endblock %}

