{% extends "base.html" %} {% block title %} Login {% endblock %} {% block main
%}
<form action="/login" class="myform" method="post">
  <h1>Please sign in</h1>
  <div class="mb-3 form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      type="email"
      minlength="5"
      maxlength="255"
      name="email"
      placeholder="Email address"
    />
  </div>
  <div class="mb-3 form-group">
    <input
      class="form-control mx-auto w-auto"
      type="password"
      maxlength="255"
      name="password"
      placeholder="Password"
    />
  </div>
  <div class="mb-3 form-group">
    <button class="btn" type="submit">Sign in</button>
  </div>
  <div class="copyright">Copyright &copy; 2023</div>
</form>
{% endblock %}
