{% extends "base.html" %} {% block title %} My Account {% endblock %} 
{% block main %}
    <div class="mb-3 myform">
        <h1>Welcome, {{ user.first_name }}! </h1>
        <h2>User Information</h2>
        <div class="mb-3 form-group">
            <input
                class="form-control mx-auto w-auto"
                type="text"
                minlength="5"
                maxlength="255"
                name="first_name"
                placeholder="{{ user.first_name }}"
                disabled
            />
        </div>
        <div class="mb-3 form-group">
            <input
                class="form-control mx-auto w-auto"
                type="text"
                minlength="5"
                maxlength="255"
                name="last_name"
                placeholder="{{ user.last_name }}"
                disabled
            />
        </div>
        <div class="mb-3 form-group">
            <input
                class="form-control mx-auto w-auto"
                type="email"
                minlength="5"
                maxlength="255"
                name="email"
                placeholder="{{ user.email }}"
                disabled
            />
        </div>
        <div class="mb-3 form-group">
            <input
                class="form-control mx-auto w-auto"
                type="text"
                minlength="5"
                maxlength="255"
                name="password"
                placeholder="********"
                disabled
            />
        </div>
        <div class="form-group mb-3"><a href="/profile/change_password">
            <button class="btn">Change Password</button></a>
        </div>
    </div> 
    
{% endblock %}
