{% extends 'base.html' %} {% block title %} Add-project {% endblock %} {% block
main %}

<form action="/add_project" method="post" class="myform">
  <h1>Create Your Project</h1>

  <div class="mb-3 form-group">
    <input
      autofocus
      autocomplete="off"
      class="form-control mx-auto w-auto"
      type="text"
      minlength="5"
      maxlength="255"
      name="title"
      placeholder="Project title"
    />
  </div>


  <div class="mb-3 project_description">
    <textarea
      autocomplete="off"
      class="form-control mx-auto w-auto"
      type="text"
      minlength="5"
      maxlength="5000"
      name="project_description"
      placeholder="Project description"
    ></textarea>
  </div>

  <div class="mb-3 form-group">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>

{% endblock %} {% set active = 'add_project' %}
