{% extends 'base.html' %} 
{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/profile/change_password" class="myform" method="post">
  <h1>Change Password</h1>
  <div class="mb-3 form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      type="password"
      maxlength="255"
      name="old_password"
      placeholder="Current Password"
    />
  </div>
  <div class="mb-3 form-group">
    <input
      class="form-control mx-auto w-auto"
      type="password"
      maxlength="255"
      name="new_password1"
      placeholder="New Password"
    />
  </div>
  <div class="mb-3 form-group">
    <input
      class="form-control mx-auto w-auto"
      type="password"
      maxlength="255"
      name="new_password2"
      placeholder="Retype New Password"
    />
  </div>

  <div class="mb-3 form-group">
    <button class="btn" type="submit">Save</button>
  </div>
</form>
{% endblock %}