{% extends "base.html" %} {% block title %} Dashboard {% endblock %} {% block main%}


<div class="card"> 
    <div class="title-grid portfolio">
        <div class="P-Title">Project Portfolio</div>
    </div>   
    {% for entry in entries %}
        {% if loop.index <= 1 %}
        <div class="project-card">
            <div class="justify-space-between project-history">
              <div class="full-width project-card">
                <div class="full-height">
                    <!-- link to details based on project/entry id -->
                    <a href="{{ url_for('views_bp.details', id=entry.id) }}" class="fancy-link"> 
                        <span class="title">{{ entry.title }}</span>
                    </a>
                </div>
                <span class="period">
                  <span>{{entry.start_date.day}}-{{entry.start_date.year}} - Present</span>
                </span>
                <span class="period">
                  <span>Status: {{entry.status}}</span>
                </span>
              </div>
            </div>
        </div>
          
        {% else %}
        <div class="project-card hidden project-card-hidden">
            <div class="justify-space-between project-history">
              <div class="full-width project-card">
                <div class="full-height">
                    <a href="{{ url_for('views_bp.details', id=entry.id) }}" class="fancy-link">
                        <span class="title">{{ entry.title }}</span>
                    </a>
                </div>
                <span class="period">
                  <span>{{entry.start_date.day}}-{{entry.start_date.year}} - Present</span>
                </span>
                <span class="period">
                  <span>Status: {{entry.status}}</span>
                </span>
              </div>
            </div>
        </div>
        {% endif %} 
    {% endfor %}   
    <div class="card-footer">
        <button class="homebtn hidden btn-outline show-less-btn">Show less</button>
        <button class="homebtn btn-outline show-more-btn">Show more</button>
    </div> 
</div>


  

{% endblock %}


{% set active = 'dashboard' %}