{% extends "base.html" %} {% block title %} detail {% endblock %} {% block main
    %}
    <div class="Detail">
        <div class="title_Detail"> {{ details.title }}</div>
        <div class="status_Detail"> Status: {{ details.status }}</div>
        <div class="leaders_Detail"> <b>Leaders -</b> {{ details.leader_names }}</div>
        {% if details.collaborator_names %}
            <div class="teams_Detail"> <b>Collaborators -</b> {{ details.collaborator_names }}</div>
        {% endif %}
        <div class="started_date_Detail"><b>Started Date:</b> {{ details.start_date }}</div>
        <div class="just_Details">Details:</div>
        <div class="description_Detail">
           {{ details.description }}
        </div>
        <hr>
        <div class="just_History_Detail">History: </div>
        <div class="history_Detail">
            <ul>
                <li>Accepted new people</li>
                <li>Started working on projects</li>
                <li>Emplemented home page</li>
                <li>Watch a movie</li>
            </ul>
        </div>
    </div>
    {% endblock %}
    {% set active = 'detail' %}