{% extends "base.html" %} {% block title %} detail {% endblock %} {% block main
    %}
    <div class="Detail">
        <div class="title_Detail">AI Research</div>
        <div class="status_Detail"> Status: New Project</div>
        <div class="leaders_Detail"> <b>Leaders -</b> Yonas, Abel, Yohannes</div>
        <div class="teams_Detail"> <b>Collaborators -</b> Wael, Naol, Haitham</div>
        <div class="started_date_Detail"><b>Started Date:</b> 11/10/2022</div>
        <div class="just_Details">Details:</div>
        <div class="description_Detail">
            Artificial Intelligence (AI) refers to the development of computer programs and systems that can perform tasks that typically require human intelligence. This field has been around since the 1950s, but it is only in recent years that AI has gained significant attention and progress due to advances in technology such as big data, cloud computing, and deep learning algorithms.
        </div>
        <hr>
        <div class="just_History_Detail">History: </div>
        <div class="history_Detail">
            <ul>
                <li>Accepted new people</li>
                <li>Started working on projects</li>
                <li>Emplemented home page</li>
                <li>Watch a movie</li>
            </ul>
        </div>
    </div>
    {% endblock %}
    {% set active = 'detail' %}