{% extends "base.html" %}
 
{% block title %}
    Home 
{% endblock %}

{% block main %}
  
{% for entry in entries %}
<div class="card">
    <div class="title-grid">
        <div class="P-Title">{{ entry.title }}</div>
        <div class="status">Status: {{entry.status}}</div>
    </div>
    <div class="P-owner">
        Project Leaders: {{ entry.leader_name }}
    </div>
    {% if entry.user_name %}
    <div class="Project-collaborators">
        Project Collaborators: {{ entry.user_name }}
    </div>
    {% endif %}
    <div class="Description">
        {{ entry.description }}
    </div>
    <div class="card-footer">
        <a href="{{ url_for('views_bp.details', id=entry.id) }}"><button class="homebtn">Details</button></a>
        <button class="homebtn btn-outline">Join</button>
    </div>
</div>
{% endfor %}
<!-- 
<div class="card">
    <div class="title-grid">
        <div class="P-Title">Neuroscience Research</div>
        <div class="status">Status: New Project</div>
    </div>
        <div class="P-owner">
        Project Leaders: Yonas, Abel, ...
    </div>
    <div class="Project-collaborators">
        Project Collaborators: Naol, Wael, ...
    </div>
    <div class="Description">
        One of the main benefits of mindfulness is that it can improve mental health. Research has shown that mindfulness-based interventions can be effective in reducing symptoms of anxiety and depression, and can even be as effective as traditional forms of therapy. Additionally, practicing mindfulness can lead to increased self-awareness, emotional regulation, and a greater sense of well-being.
    </div>
    <div class="card-footer">
        <button class="homebtn">Details</button>
        <button class="homebtn btn-outline">Join</button>
    </div>
  </div>
  <div class="card">
      <div class="title-grid">
        <div class="P-Title">AI Research</div>
        <div class="status">Status: New Project</div>
    </div>
    <div class="P-owner">
        Project Leaders: Yonas, Abel, ...
    </div>
    <div class="Project-collaborators">
        Project Collaborators: Naol, Wael, ...
    </div>
    <div class="Description">
        Artificial Intelligence (AI) refers to the development of computer programs and systems that can perform tasks that typically require human intelligence. This field has been around since the 1950s, but it is only in recent years that AI has gained significant attention and progress due to advances in technology such as big data, cloud computing, and deep learning algorithms.
    </div>
    <div class="card-footer">
        <button class="homebtn">Details</button>
        <button class="homebtn btn-outline">Join</button>
    </div>
</div> -->
{% endblock %}

