{% extends "base.html" %}

{% block title %}
    Home 
{% endblock %}

{% block main %}
  <h1>Ongoing Projects</h1>
{% for entry in entries %}
<div class="modal-box" id="popup">
    <h2>Are you sure you want to join?</h2>

    <button type="button">Cancel</button>
</div>
<div class="card">
    <div class="title-grid">
        <div class="P-Title">{{ entry.title }}</div>
        <div class="status">Status: {{entry.status}}</div>
    </div>
    <div class="P-owner">
        {% if entry.leader_names|length == 1 %}
            Project Leader: {{ entry.leader_names[0] }}
        {% elif entry.leader_names|length > 1 %}
            Project Leaders: {{ entry.leader_names[0] }}, {{ entry.leader_names[1] }}, ...
        {% endif %}
    </div>  
    {% if entry.collaborator_names %}
        <div class="Project-collaborators">
            {% if entry.collaborator_names|length == 1 %}
                Project Collaborator: {{ entry.collaborator_names[0] }}
            {% elif  entry.collaborator_names|length > 1 %}
                Project Collaborators: {{  entry.collaborator_names[0] }}, {{  entry.collaborator_names[1] }}, ...
            {% endif %}
        </div>
     {% endif %}    
    <div class="Description">
        {{ entry.description }}
    </div>
    <div class="card-footer">
        <a href="{{ url_for('views_bp.details', id=entry.id) }}"><button class="homebtn">Details</button></a>
        {% if not entry.is_collaborator and current_user.id not in entry.leader_ids %}
        <button class="homebtn btn-outline join-btn" onclick="showJoinPopup({{ entry.id }})">Join</button>
    {% endif %}
    
        </div>     
        <div class="modal-box" id="join-popup">
            <h2>Are you sure you want to join?</h2>
            <button id="join-confirm-btn" type="button">Join</button>
            <button id="join-cancel-btn" type="button">Cancel</button>
        </div>
</div>
<script>
    function showJoinPopup(projectId) {
        const popup = document.getElementById("join-popup");
        const confirmBtn = document.getElementById("join-confirm-btn");
      
        // Show the popup
        popup.style.display = "block";
      
        // Set the click event for the confirm button
        confirmBtn.onclick = function() {
          // Redirect the user to the add_collaborator view
          window.location.href = "/add_collaborator/" + projectId;
        };
        const cancelBtn = document.getElementById("join-cancel-btn");

cancelBtn.onclick = function() {
  // Hide the popup
  const popup = document.getElementById("join-popup");
  popup.style.display = "none";
};

      }
      
</script>
{% endfor %}


{% endblock %}
