{% extends "base.html" %}
 
{% block title %}
    Home 
{% endblock %}

{% block main %}
  
{% for entry in entries %}
<div class="card">
    <div class="title-grid">
        <div class="P-Title">{{ entry.title }}</div>
        <div class="status">Status: {{entry.status}}</div>
    </div>
    <div class="P-owner">
        {% if entry.leader_names|length == 1 %}
            Project Leader: {{ entry.leader_names[0] }}
        {% elif entry.leader_names|length > 1 %}
            Project Leaders: {{ entry.leader_names[0] }}, {{ entry.leader_names[1] }}, ...
        {% endif %}
    </div>  
    {% if entry.collaborator_names %}
        <div class="Project-collaborators">
            {% if entry.collaborator_names|length == 1 %}
                Project Collaborator: {{ entry.collaborator_names[0] }}
            {% elif  entry.collaborator_names|length > 1 %}
                Project Collaborators: {{  entry.collaborator_names[0] }}, {{  entry.collaborator_names[1] }}, ...
            {% endif %}
        </div>
     {% endif %}    
    <div class="Description">
        {{ entry.description }}
    </div>
    <div class="card-footer">
        <a href="{{ url_for('views_bp.details', id=entry.id) }}"><button class="homebtn">Details</button></a>
        <a href="{{ url_for('views_bp.add_collaborator', id=entry.id) }}"><button class="homebtn btn-outline">Join</button></a>
    </div>
</div>
{% endfor %}
{% endblock %}

